/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(210, 224, 220); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 1px;

}

p {
  font-size: 18px;
  line-height: 1.5;

}

a {
  text-decoration: none;
}


/* Navigation bar styles ============= */
#mainNav h3 {
  color: rgb(36, 36, 36);
  background-color: rgb(97, 175, 175);
  padding: 10px 20px;
  margin: 0px;
  font-weight: bolder;
}

.nav-item a {
  color: rgb(97, 175, 175);
  transition: all 0.35s;
}

.nav-item a:hover,
.nav-item a:focus {
  color: rgb(255, 255, 255);
}

/* Jumbotron styles ============= */

.main-header {
  padding-top: 50px;
  color: white;
  background: url('../images/bg-image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-content h1 {
  font-weight: bold;
  font-size: 50px;
}

.name-grid {
  align-items: center;
  margin-bottom: 0px !important;
  padding-left: 0px;
}

.photo-name {
  background-color: rgb(97, 175, 175);
  padding: 5px;
}

.photo-title {
  background-color: rgba(255, 255, 255, 0.226);
  padding: 5px;
}



/* Cards styles ============= */

.work-cards {
  margin-top: 50px;
}

.card-title {
  color: rgb(97, 175, 175);
}


.card:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 20px #000000;
  }






